<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Toko Online</title>
</head>
<body>
    <header>
        <h1>Toko Online</h1>
        <form action="search" method="get">
            <input type="text" name="query" placeholder="Cari produk...">
            <button type="submit">Cari</button>
        </form>
    </header>
    <main>
        <section class="categories">
            <h2>Kategori</h2>
            <div class="category">
                <a href='#'>
                    <img src="/static/img/produk1.png" alt="Parfum">
                </a>
                    <p>Parfum</p>
            </div>
            <div class="category">
                <img src="/static/img/produk1.png" alt="Buku">
                <p>Buku</p>
            </div>
            <div class="category">
                <img src="/static/img/produk1.png" alt="Buku">
                <p>Buku</p>
            </div>
            <div class="category">
                <a href='/deskripsi/laptop/' class='link1'>
                <img src="/static/img/produk1.png" alt="Elektronik">
                <p>Laptop & PC</p>
                </a>
            </div>
        </section>
        <section class="flash-sale">
            <h2>Flash Sale</h2>
            <div class="product">
                <img src="/static/img/Assus.png" alt="Laptop Assus">
                <p>Harga: Rp27.600
                    <a href='/product/1'>
                        <br>Beli Sekarang</p>
                    </a>
            </div>
            <div class="product">
                <img src="/static/img/HP elite book.png" alt="Laptop HP">
                <p>Harga: Rp49.680
                    <a href='/product/2'>
                        <br>Beli Sekarang</p>
                    </a>
            </div>
            <div class="product">
                <img src="/static/img/Laptop Gaming.png" alt="Laptop Gaming">
                <p>Harga: Rp42.500
                    <a href='/product/3'>
                        <br>Beli Sekarang</p>
                    </a>
            </div>
            
            <div class="product">
                <img src="/static/img/Laptop Gaming.png" alt="Produk4">
                <p>Harga: Rp42.500
                    <a href='/product/4'>
                        <br>Beli Sekarang</p>
                    </a>
            </div>
            
            <div class="product">
                <img src="/static/img/produk1.png" alt="Produk5">
                <p>Harga: Rp42.500
                    <a href='/product/5'>
                        <br>Beli Sekarang</p>
                    </a>
            </div>
            
            <div class="product">
                <img src="/static/img/produk1.png" alt="Produk5">
                <p>Harga: Rp42.500
                    <a href='/product/5'>
                        <br>Beli Sekarang</p>
                    </a>
            </div>

        </section>
    </main>
    <footer>
        <p>&copy; 2024 Toko Online. All rights reserved.</p>
    </footer>
</body>
</html>